<%= form_for(@ad_hoc_download) do |f| %>
  <% if @ad_hoc_download.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad_hoc_download.errors.count, "error") %> prohibited this ad_hoc_download from being saved:</h2>

      <ul>
      <% @ad_hoc_download.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
